
<ion-view id="page3">
	<ion-nav-title>
		<img src="img/logo-header.png" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
	</ion-nav-title>
	<ion-header-bar class="bar bar-subheader" style="padding:0px;height:18%;background-image:url("img/sub-header-101.png");">
		<img src="img/sub-header-101.png" style="display: block; width: 100%; height: auto; margin:0px;padding:0px">
	</ion-header-bar>
  <ion-content padding="true" class="has-header has-subheader" style="top:170px;" id="page3">
	Coming Soon
	</ion-content>
</ion-view>
