<style>
	.full{
		width: 100%;
	}
	.half{
		width: 50%;
	}
</style>

<ion-view  id="page4">
 <ion-nav-title>
		<img src="img/logo-header.png" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
	</ion-nav-title>
	<ion-header-bar class="bar bar-subheader " style="padding:0px;height:18%;">
		<img src="img/sub-header-clubs.png" style="display: block; width: 100%; height: auto; margin:0px;padding:0px">
		
	</ion-header-bar>
 <ion-content padding="true" class="has-header has-subheader"  style="top:170px;" id="page1">
	<div ng-bind-html="clubs">

	</div>
	
  </ion-content >
  
</ion-view>