<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="home-card21">
      <div class=" item item-image">
        <img src="img/1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="home-list-item-container2">
        <div id="home-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:9px;">
            <strong>2016 Indonesian National Team “The Rhinos” Squad Announcement</strong>
            <br>PRUI have undergone a selection and training process for those who are eligible since May 2016. This programme has involved </p>
             <a href="http://rugbyindonesia.or.id/id/">read more...</a>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card23">
      <div class=" item item-image">
        <img src="img/2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="home-list-item-container5">
        <div id="home-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:9px;">
            <strong>Srikandi Sevens Tournament and Get Into Rugby Jagorawi</strong>
            <br>State University of Jakarta / Universitas Negeri Jakarta (UNJ) Womens Rugby won the first annual Srikandi Cup – National Sevens...</p>
             <a href="http://rugbyindonesia.or.id/id/">read more...</a>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card24">
      <div class=" item item-image">
        <img src="img/3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="home-list-item-container6">
        <div id="home-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:9px;">
            <strong>Papua Sevens Rugby Dominates Historic Rugby Event</strong>
            There has been an exciting buzz circulating amongst the throngs of Rugby fans globally, since its re-inclusion into the Olympics...</p>
             <a href="http://rugbyindonesia.or.id/id/">read more...</a>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card25">
      <div class=" item item-image">
        <img src="img/4.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="home-list-item-container7">
        <div id="home-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:9px;">
            <strong>Indonesian Rugby Mobile Application Launched</strong>
            <br>Persatuan Rugby Union Indonesia (PRUI) recently published a mobile apps to increase network and engagement within rugby players and fans</p>
             <a href="http://rugbyindonesia.or.id/id/">read more...</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>