<ion-side-menus   style="" enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-stable" >
      <!--<ion-nav-back-button></ion-nav-back-button>-->
	  <ion-nav-buttons side="left" >
        <button ui-sref="menu.home" menu-close="" class="button button-clear icon-left ion-home" ></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21" width="200">
    <!--<ion-header-bar class="bar-stable">
      <div class="title"></div>
    </ion-header-bar>-->
    <ion-content padding="false" class="side-menu-right ">
      <ion-list id="menu-list1" >
        <ion-item id="menu-list-item1" ui-sref="menu.home" menu-close=""><i class="icon ion-ios-paper-outline" style="font-size:80%">News</i></ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.fixture" menu-close=""><i class="icon ion-trophy" style="font-size:80%" >Fixtures &amp; Result</i></ion-item>
        <ion-item id="menu-list-item4" ui-sref="menu.cart" menu-close=""><i class="icon ion-android-camera" style="font-size:80%" >Teammate Photos</i></ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.cloud" menu-close=""><i class="icon ion-ios-americanfootball-outline" style="font-size:80%">Rugby 101</i></ion-item>
        <ion-item id="menu-list-item5" ui-sref="menu.clubs" menu-close=""><i class="icon ion-tshirt" style="font-size:80%">Rugby Clubs</i></ion-item>

	</ion-list>
  <div style= "padding-left: 10%";>
      <h4   style=" color:white; font-size:80%" id="side-menu21-heading1">Contact: </h4>
      <div class="show-list-numbers-and-dots" id="side-menu21-markdown1">
        <p style="color:white; font-size:80%">info@rugbyindonesia.or.id www.rugbyindonesia.or.id
        </p>
      </div>
      <h4 style="color:white; font-size:80%" id="side-menu21-heading2" >Connect with us:</h4>
	  <style>
	  .icon{
		width:30%;
	  }
	  </style>
	  <center><div id="contact" class="container" >
               <div style="height:75%; width:75%">
                    <a href="#" onclick="window.open('https://twitter.com/IndonesianRugby','_blank','location=no')"><img class="icon" src="img/twitter.svg" alt="Twitter Logo"></a>
                    <a href="#" onclick="window.open('https://www.facebook.com/indonesianrugby','_blank','location=no')"><img class="icon" src="img/facebook.svg" alt="FB Logo"></a>
                    <a href="#" onclick="window.open('https://vine.co/u/1035182837801902080','_blank','location=no')"><img class="icon" src="img/vine.svg" alt="Vine Logo"></a>
                    <a href="#" onclick="window.open('https://plus.google.com/102268870932403946446/posts','_blank','location=no')"><img class="icon" src="img/gplus.svg" alt="Google+ Logo"></a>
                    <a href="#" onclick="window.open('http://www.youtube.com/user/Indonesiarugby','_blank','location=no')"><img class="icon" src="img/youtube.svg" alt="Youtube Logo"></a>
                    <a href="#" onclick="window.open('http://instagram.com/indonesianrugby','_blank','location=no')"><img class="icon" src="img/instagram.svg" alt="Instagram Logo"></a>
                </p>
                </div>
                 </center>
                <p style="color:white">Affiliations<br/>
                <center><div>
                    <a href="http://www.worldrugby.org/"><img class="affiliate-icon" src="img/affiliate-worldrugby.png" alt="World Rugby Logo" height="20%" width="20%"></a>
                
               
                    <a href="http://www.arfu.com/"><img class="affiliate-icon" src="img/affiliate-arfu.png" alt="ARFU Logo" height="20%" width="20%"></a>
                 </div>
                 <div>
                  
                    <a href="http://www.koni.or.id/"><img class="affiliate-icon" src="img/affiliate-koni.png" alt="KONI Logo" height="20%" width="20%"></a>
                
                    <a href="http://www.nocindonesia.or.id/"><img class="affiliate-icon" src="img/affiliate-nocindonesia.png" alt="NOC Indonesia Logo" height="20%" width="20%"></a>
                  </div>
                  </center>

                </p>
               
                <p style="color:white; font-size:80%" >&copy; 2016 Persatuan Rugby Union Indonesia</p>
                <p style="color:white; font-size:80%">Powered By Lorem Ipsum<br/>
                <center><img class="fullwidth" src="img/sponsor.png" alt="Sponsor" height="70%" width="70%"></center>
                </p>
                <p style="color:white;font-size:80%">Developed By DNArtworks.co.id</p>
            </div>
          </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>