<style>
	.full{
		width: 100%;
	}
	.half{
		width: 50%;
	}
</style>
<ion-view id="page6">

	<ion-nav-title>
			<img src="img/logo-header.png" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
		</ion-nav-title>
	</ion-nav-title>
	<ion-header-bar class="bar bar-subheader " style="padding:0px;height:18%;background-image:url("img/sub-header-news.png");">
		<img src="img/sub-header-photo.png" style="display: block; width: 100%; height: auto; margin:0px;padding:0px">
		
	</ion-header-bar>
  <ion-content padding="true" class="has-header has-subheader" style="top:210px;">
  <img ng-src="{{img}}" id="img" style="display: block; margin: 0 auto"/>
  <button ng-click="upload()" class="button button-block button-assertive">
  Upload
</button>
<div>
	<img id="imgURI" style="display: block; margin: 0 auto"/>
</div>
  </ion-content>
</ion-view>