<style>
	.full{
		width: 100%;
	}
	.half{
		width: 50%;
	}
</style>
<ion-view id="page7">

	<ion-nav-title>
			<img src="img/logo-header.png" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
		</ion-nav-title>
	</ion-nav-title>
	<ion-header-bar class="bar bar-subheader " style="padding:0px;height:18%;background-image:url("img/sub-header-news.png");">
		<img src="img/sub-header-photo.png" style="display: block; width: 100%; height: auto; margin:0px;padding:0px">
		
	</ion-header-bar>
  <ion-content padding="true" class="has-header has-subheader" style="top:210px;">
  <!--<img ng-src="{{imgURI}}"style="width:100%;"/>-->
  <canvas id="canvas"></canvas>
  <div>
	<div class="row">
		<div class="col col-20 frame" ng-click="frame(1)"><img class="full" id="1" src="img/frame01.png"></div>
		<div class="col col-20 frame" ng-click="frame(2)"><img class="full" id="2" src="img/frame02.png"></div>
		<div class="col col-20 frame" ng-click="frame(3)"><img class="full" id="3" src="img/frame03.png"></div>
		<div class="col col-20 frame" ng-click="frame(4)"><img class="full" id="4" src="img/frame04.png"></div>
		<div class="col col-20 frame" ng-click="frame(5)"><img class="full" id="5" src="img/frame05.png"></div>
	</div>
	<div class="row">
		<div class="col col-20 frame" ng-click="frame(6)"><img class="full" id="6" src="img/frame06.png"></div>
		<div class="col col-20 frame" ng-click="frame(7)"><img class="full" id="7" src="img/frame07.png"></div>
		<div class="col col-20 frame" ng-click="frame(8)"><img class="full" id="8" src="img/frame08.png"></div>
		<div class="col col-20 frame" ng-click="frame(9)"><img class="full" id="9" src="img/frame09.png"></div>
		<div class="col col-20 frame" ng-click="frame(10)"><img class="full" id="10" src="img/frame10.png"></div>
	</div>
  </div>
  <button ng-click="upload()" class="button button-block button-assertive">
  Upload
</button>
<div>
	<img id="imgURI" style="display: block; margin: 0 auto"/>
</div>
  </ion-content>
</ion-view>